@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0c0a09;
  --foreground: #fafaf9;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .skeleton {
    @apply animate-pulse rounded-md bg-white/10;
  }
}
